<mat-list>
  <mat-list-item *ngFor="let question of questions" [routerLink]="['questions', question._id]">
    <mat-icon *ngIf="question.icon === 'none'" mat-list-icon class="meterial-icons help">help</mat-icon>
    <mat-icon *ngIf="question.icon !== 'none'" mat-list-icon class="{{ question.icon }}"></mat-icon>
    <h3 mat-line>{{ question.title }}</h3>
    <p mat-line>
      <small>{{ question.answers.length }} respuestas - {{ question.createdAt | amLocale: 'es' | amTimeAgo}}</small>
    </p>
  </mat-list-item>
  <button mat-fab color="accent" class="add-question" [routerLink]="['questions/new']">+</button>
</mat-list>
